.Order {
  padding: 5px 10px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, #f6f7f9 0%, #ffffff 100%);
    box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 0.05), 0 1px 1px 0 rgba(22, 29, 37, 0.05);
    .time {
        color: #5e7785;
        font-family: 'Helvetica Neue';
        font-size: 12px;
        line-height: 14px;
        padding-bottom: 5px;
        text-align: left;
    }
    .dish {
        display: flex;
        min-width: 400px;
        justify-content: space-between;
        img {
            width: 100px;
            height: 50px;
            object-fit: contain;
        }
        .name {
            font-size: 20px;
            margin-left: 10px;
            margin-right: 10px;
            display: flex;
            align-items: center;

            font-family: 'Helvetica Neue';
            line-height: 20px;
            padding: 5px 0;
        }
        .qty {
            font-size: 16px;
            display: flex;
            align-items: center;
        }
        .status {
            font-size: 16px;
            display: flex;
            align-items: center;
        }
      .select-order-status {
        width: 200px;
        margin-bottom: auto;
        margin-top: auto;
      }
    }

    .comment {
        color: coral;
        font-family: 'Helvetica Neue';
        font-size: 12px;
        line-height: 14px;
        padding: 5px 0;
        text-align: left;
    }
}
