.TableStatus {
  padding-bottom: 10px;
  label {
    color: #5e7785;
    font-family: 'Helvetica Neue';
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    padding: 12px 0;
  }
  .table-status {
    width: 200px;
    margin-top: 10px;

    color: #5e7785;
    font-family: 'Helvetica Neue';
    font-size: 12px;
    line-height: 14px;
  }
}